<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1"
         xmlns=""
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation=""
         metadata-complete="false">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>../servlet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
</web-app>